body{
    font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
}
h1{
    font-size: 50px;
    border-left: 5px solid red;
    margin: 0;
}
.orangered-text{
    color: orange;
}

.flexible-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.half-width img{
    width: 60%;
    
}

.profile img{
    width: 300px;
   
       
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700; 
    border-radius:  5px;
}


.mission-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;

}

#My-Mission{
    
    font-size: 50px;
    text-align: center;
}

.ft-lst{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}