body{
    font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
}
h1{
    font-size: 50px;
    border-left: 5px solid red;
    margin: 0;
}
.orangered-text{
    color: orange;
}

.flexible-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.half-width img{
    width: 60%;
    
}

.profile img{
    width: 300px;
   
       
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700; 
    border-radius:  5px;
}


.mission-item{
    width: 40%;
    background-color: burlywood;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;

}

#Mission-2022{
    background-color:darkkhaki;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 5%;
    box-shadow: 10px 10px 40px grey;

}
.g1{
    text-align: center;
}


#Vission-2022{
    background-color:darkseagreen;
    text-align: center;
    margin-bottom: 20px;
    
    margin-left: 5%;
    box-shadow: 10px 10px 40px grey;

}

#Goals-2022{
    background-color:grey;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 5%;
    
    
    box-shadow: 10px 10px 40px grey;

}

.ft-lst{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}